<ul class="nav">
	<li>
	<%= link_to('Programa', programas_path) %>
	</li>
	<li>
	<%= link_to('Grupo', grupos_path) %>
	</li>
	<li>
	<%= link_to('Tipo de Documento', tpodocumentos_path) %>
	</li>
	<li>
	<%= link_to('Estudiantes', estudiantes_path) %>
	</li>
</ul>
